.text-white {
  color: #fff;
}

@font-face {
  font-family: "primary-font";
  src: url("../../fonts/farsi-fonts/iran-yekan-500.eot");
  src: url("../../fonts/farsi-fonts/iran-yekan-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/farsi-fonts/iran-yekan-500.woff2") format("woff2"), url("../../fonts/farsi-fonts/iran-yekan-500.woff") format("woff"), url("../../fonts/farsi-fonts/iran-yekan-500.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "secondary-font";
  src: url("../../fonts/farsi-fonts/iran-sans-700.eot");
  src: url("../../fonts/farsi-fonts/iran-sans-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/farsi-fonts/iran-sans-700.woff2") format("woff2"), url("../../fonts/farsi-fonts/iran-sans-700.woff") format("woff"), url("../../fonts/farsi-fonts/iran-sans-700.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Material Design Icons";
  src: url("../fonts/materialdesignicons-webfont.eot?v=1.4.57");
  src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=1.4.57") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=1.4.57") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=1.4.57") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=1.4.57") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=1.4.57#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thin Regular";
  src: url("../fonts/Thin-Regular.eot?66413286");
  src: url("../fonts/Thin-Regular.eot?66413286#iefix") format("embedded-opentype"), url("../fonts/Thin-Regular.woff?66413286") format("woff"), url("../fonts/Thin-Regular.ttf?66413286") format("truetype"), url("../fonts/Thin-Regular.svg?66413286#thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Restaurant Regular";
  src: url("../fonts/Restaurant-Regular.eot?87209526");
  src: url("../fonts/Restaurant-Regular.eot?87209526#iefix") format("embedded-opentype"), url("../fonts/Restaurant-Regular.woff?87209526") format("woff"), url("../fonts/Restaurant-Regular.ttf?87209526") format("truetype"), url("../fonts/Restaurant-Regular.svg?87209526#mercury") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container_fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_fluid .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 15px;
}
.container_fluid .container .topmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  width: 100%;
  height: 35px;
  background: #4169E1;
}
.container_fluid .container .topmenu .topmenu_right {
  width: 50%;
  margin-left: 15px;
}
.container_fluid .container .topmenu .topmenu_right .fa {
  margin-left: -30px;
  color: gray;
}
.container_fluid .container .topmenu .topmenu_right .fa:hover {
  cursor: pointer;
}
.container_fluid .container .topmenu .topmenu_right input {
  border: none;
  color: #fff;
  margin-top: 2px;
  border-radius: 5px;
  width: 200px;
  height: 25px;
  padding-left: 10px;
  color: #000;
}
.container_fluid .container .topmenu .topmenu_left {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  direction: rtl;
}
.container_fluid .container .topmenu .topmenu_left a {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #00BFFF;
  padding-right: 7px;
  padding-top: 5px;
}
.container_fluid .container .topmenu .topmenu_left a:hover {
  background: #66d9ff;
}

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #00BFFF;
}
.Navbar .Navbar_right {
  width: 40%;
  padding-left: 15px;
}
.Navbar .Navbar_right h1 {
  color: #0000CD;
}
.Navbar .Navbar_left {
  width: 60%;
}
.Navbar .Navbar_left ul {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
}
.Navbar .Navbar_left ul li {
  margin-right: 15px;
}
.Navbar .Navbar_left ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}
.Navbar .Navbar_left ul li a:hover {
  color: #4169E1;
}
.Navbar .Navbar_left ul li .logreg {
  color: #0000CD;
  border-bottom: 2px solid #0000CD;
}

.main_div {
  position: relative;
  overflow: hidden;
  width: 30%;
  height: 500px;
  border-radius: 10px;
  background: #4169E1;
  text-align: center;
}
.main_div .top_button {
  margin-bottom: 20px;
}
.main_div .register {
  position: relative;
  z-index: 1;
}
.main_div .register .input {
  width: 70%;
  height: 30px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: #00BFFF;
  padding-left: 10px;
}
.main_div .register .reg {
  font-size: 30px;
  font-weight: bolder;
  color: #0000CD;
  border-bottom: 3px solid #0000CD;
}
.main_div .register .box {
  color: red;
}
.main_div .login {
  position: absolute;
  top: 85%;
  width: 100%;
  height: 495px;
  background-color: #87CEFA;
  z-index: 2;
  border-radius: 50%/10%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.main_div .login .input {
  width: 70%;
  height: 30px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: #00BFFF;
  padding-left: 10px;
}
.main_div .login .log {
  font-size: 30px;
  font-weight: bolder;
  color: #0000CD;
  border-bottom: 3px solid #0000CD;
}
.main_div .login .box {
  color: red;
}
.main_div .login .disply_hide {
  display: none;
}
.main_div #button1, .main_div #button2 {
  width: 100px;
  border: none;
  border-radius: 5px;
  height: 25px;
  background-color: #00BFFF;
}
.main_div #button1:hover, .main_div #button2:hover {
  background-color: #0000CD;
  color: #00BFFF;
  cursor: pointer;
}
.main_div #button {
  transition: is ease-in-out;
}
.main_div .top_button button {
  background-color: transparent;
  border: none;
  margin-bottom: 15px;
  padding-top: 35px;
  cursor: pointer;
}
.main_div .erroebox {
  color: red;
  margin-top: 10px;
}

.information {
  width: 100%;
}
.information .information_top {
  height: 150px;
  text-align: center;
  padding-top: 50px;
  background: #4169E1;
}
.information .information_top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.information .information_top ul li {
  margin-right: 15px;
}
.information .information_top ul li .link {
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #00BFFF;
  padding-left: 7px;
  padding-top: 7px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}
.information .information_top ul li .link:hover {
  background: #66d9ff;
}
.information .information_top ul li a {
  color: #fff;
  text-decoration: none;
}
.information .information_top ul li a:hover {
  color: #00BFFF;
  font-weight: bolder;
}
.information .information_bottom {
  height: 45px;
  text-align: center;
  background: #00BFFF;
  color: #fff;
  padding-top: 12px;
}/*# sourceMappingURL=mystyle_login&register.css.map */