
$margin-top:15px;
$margin-bottom: 15px;
$margin-right:15px;
$margin-left:15px;
$padding-right: 15px;
$padding-left:15px;
$padding-top:15px;


$white-color:#fff;
$gray-color:rgb(193, 190, 190);
$black-color:#000;
$dark-color:#0000CD;
$light-color:#00BFFF;
$very-light-color:#87CEFA;
$medium-color:#4169E1;
$green-color:#bfdb39;
$gray-color:gray;
$aliceblue-color:aliceblue;
.text-white {
    color: #fff;
}